<%- include("./partials/header.ejs")%>

		<section class="container mt-5">
			<div class="row">
				<div class="col-md-4 m-auto">
					<article class="card  py-2 px-4" style="height: auto; margin-bottom: 40px;">
						<header class="card-header">
							<a href="/api/v1/bootcamps/<%=review.bootcamp.id%>/courses" class="btn btn-link text-secondary my-3"
								><i class="fas fa-chevron-left"></i> Bootcamp Info</a
							>
							<h4 class="mb-2"><%=review.bootcamp.name%></h4>
							
						</header>
						<div class="card-body">
							<h3 class="text-primary mb-4">Edit the Review</h3>
							<!-- <p>
								You must have attended and graduated this bootcamp to review
							</p> -->
							<form action="/api/v1/reviews/<%=review.id%>?_method=PUT" method="POST">
								<div class="form-group">
									<label name= "rating" for="rating"
										>Rating: <span class="text-primary" >1 - 10</span></label
									>
									<input
										type="range"
										class="custom-range"
										min="1"
										max="10"
										step="1"
										value="<%=review.rating%>"
										id="rating"
										name="rating"
									/>
								</div>
								<div class="form-group">
									<input
										type="text"
										name="title"
										class="form-control"
                                        placeholder="Review title"
                                        value="<%=review.title%>"
									/>
								</div>
								<div class="form-group">
									<textarea
										name="text"
										rows="10"
										class="form-control"
										placeholder="Your review"
									><%=review.text%></textarea>
								</div>
								<div class="form-group">
									<input
										type="submit"
										value="Edit Review"
										class="btn btn-dark btn-block"
									/>
								</div>
							</form>
						</div>
					</article>
				</div>
			</div>
		</section>

<%- include("./partials/footer.ejs")%>